<div class="row">
  <div class="col-md-12 col-xs-12 titulo">
    <h1>Lista de usuarios registrados</h1>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
      <table id="Tabla" class="table table-striped cell-border">
        <thead style="background:white">
          <tr>
            <th>Rut</th>
            <th>Nombre</th>
            <th>Paterno</th>
            <th>Materno</th>
            <th>Editar</th>
            <th>ver</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <% @usuarios.each do |usuario| %>
          <tr>
            <td><%= usuario.rut %> </td>
            <td><%= usuario.nombre %> </td>
            <td><%= usuario.paterno %> </td>
            <td><%= usuario.materno %> </td>
            <td class="td-icon"><%= link_to '', edit_usuario_path(usuario), class:"fa fa-pencil" %> </td>
            <td class="td-icon"><%= link_to '', usuario_path(usuario), class:"fa fa-eye" %> </td>
            <td class="td-icon"><%= link_to '', usuario_path(usuario),class:"fa fa-trash", method: :delete, data: {confirm: "Estas seguro?"} %> </td>
          </tr>
          <% end %>
        </tbody>
      </table>
</div>

</div>
<div class="row">
  <div class="col-md-6 ">
    [<%= link_to "Crear un nuevo usuario", new_usuario_path %>]
  </div>
</div>
<script>
  $( document ).ready(function() {
                    $("#Tabla").dataTable();
  });
</script>
