<!DOCTYPE html>
<html>
  <head>
    <title>ScrumsDB</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background:white">
    <div id="wrapper">
      <% if logged_in? %>
        <%= render 'layouts/menu' %>
      <% else %>
        <% if controller_name != "sessions" %>
          <% redireccionar %>
        <% end %>
      <% end %>
      <div id="page-wrapper" >
        <% if logged_in? %>
          <%= render 'layouts/mensajes' %>
        <% end %>
        <%= yield %>
        <div>
          <%= debug(params) if Rails.env.development? %>
        </div>
      </div>
       <!-- /#page-wrapper -->
   </div>
   <!-- /#wrapper -->
  </body>
</html>

<script>
$(document).ready(function(){
	$("#accordian h3").click(function(){
		//slide up all the link lists
		$("#accordian ul ul").slideUp();
		//slide down the link list below the h3 clicked - only if its closed
		if(!$(this).next().is(":visible"))
		{
			$(this).next().slideDown();
		}
	})
})
</script>
